* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: aquamarine;
  background: url("../public/book2.jpg") repeat fixed 100%;
  background-size: cover;
  background-position: center center;
  /*   -webkit-filter: grayscale(100%);
  filter: grayscale(10%); */
  /*  opacity: 0.5; */
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
}
